@use "../abstracts/variables";
@use "../base/typography";

header {
	margin-top: 3rem;
	h1 {
		text-align: center;
	}
}

section {
	height: 100vh;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

#section1 {
	.section_div {
		margin-block-start: 12rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	form {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		margin-inline: 1.5rem;
		align-items: center;
	}
	figure {
		margin-inline: 1.5rem;
		img {
			width: 15rem;
			height: auto;
			animation: rotate 50s infinite linear;
		}
	}
	.form_input {
		border: 1px solid variables.$dark;
		border-radius: 10px;
		padding-inline: 1rem;
		.form_group {
			padding-block: 1rem;
		}
		#url {
			background-color: transparent;
			width: 82%;
			border: none;
		}
		#url:focus {
			outline: none;
		}

		#industry {
			padding-block: 1rem;
			background-color: transparent;
			border: none;
			border-block-start: 1px solid variables.$dark;
		}
	}
}

#section2 {
	display: flex;
	flex-direction: column;
	#carbon_score {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		text-align: center;
		justify-items: center;
		align-items: center;
		padding-block-end: 4rem;
		h2 {
			justify-self: start;
		}
		.rank_color {
			text-align: center;
			#rank_color {
				height: 7rem;
				width: 7rem;
				border-radius: 50%;
				background-color: yellow;
				margin-block-end: 1rem;
			}
		}
	}
	#carbon_facts {
		display: grid;
		grid-template-columns: 1fr auto 1.5fr auto 1fr;
		text-align: center;
		align-items: center;
		border-block: 1px solid variables.$dark;
		.text {
			padding-block: 5rem;
			padding-inline: 2rem;
		}
		.deco_line {
			height: 9rem;
			width: 1px;
			background-color: variables.$dark;
		}
	}
	#more_details {
		text-align: center;
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding-block-start: 4rem;
		#top3 {
			.top3_content {
				display: flex;
				justify-content: center;
			}
			figure {
				display: grid;
				justify-items: center;
				align-content: center;
				margin: 0.5rem;

				width: 8rem;
				height: 8rem;
				border: 1px solid green;
				border-radius: 50%;
			}
			img {
				height: 4rem;
				width: auto;
			}
		}
		#more {
			text-align: center;
			h3 {
				margin-block-end: 2rem;
			}
		}
	}
	margin-block-end: 12rem;
}

#section3 {
	display: grid;
	grid-auto-rows: minmax(min-content, max-content);
	h2 {
		text-align: center;
	}
	#web_host {
		padding-block-start: 3rem;
		padding-block-end: 1rem;
		#host_color {
			color: variables.$green;
		}
	}
	#reduce {
		display: grid;
		justify-content: center;
		align-items: center;
		grid-template-columns: 300px 300px;
		border-block: 1px solid variables.$dark;
		padding-block: 4rem;
	}
	#result {
		display: grid;
		align-items: center;
		grid-template-columns: 1fr 1fr;
		padding-block-start: 3rem;
		h2 {
			text-align: left;
		}
	}
}
