@use "../abstracts/variables";
@use "../base/typography";

header {
	margin-top: 3rem;
	h1 {
		text-align: center;
	}
}

section {
	height: 100vh;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

#section1 {
	.section_div {
		margin-block-start: 12rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	form {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		margin-inline: 1.5rem;
		align-items: center;
	}
	figure {
		margin-inline: 1.5rem;
		img {
			width: 15rem;
			height: auto;
			animation: rotate 50s infinite linear;
		}
	}
	.form_input {
		border: 1px solid variables.$dark;
		border-radius: 10px;
		padding-inline: 1rem;
		font-size: 1.2rem;
		#url {
			background-color: transparent;
			border: none;
			padding-block: 1rem;
			font-size: 1.2rem;
		}
		#industry {
			padding-block: 1rem;
			background-color: transparent;
			border: none;
			border-block-start: 1px solid variables.$dark;
			font-size: 1.2rem;
		}
	}

	// #industry,
	// .form_group {
	// 	border-radius: 10px;
	// 	height: 2rem;
	// 	background-color: transparent;
	// 	border: 1px solid variables.$dark;
	// 	padding-inline: 0.5rem;
	// }
	// .form_group {
	// 	display: flex;
	// 	align-items: center;
	// 	width: 100%;
	// 	#url {
	// 		background-color: transparent;
	// 		border: none;
	// 		margin-inline-start: 1rem;
	// 	}
	// }
}

#section2 {
	display: flex;
	flex-direction: column;
	#carbon_score {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding-block-end: 5rem;
		// border-bottom: 2px solid variables.$dark;
		.rank_color {
			text-align: center;
			#rank_color {
				height: 7rem;
				width: 7rem;
				border-radius: 50%;
				background-color: yellow;
			}
		}
	}
	#carbon_facts {
		display: flex;
		justify-content: space-around;
		align-items: center;
		border-block: 1px solid variables.$dark;
		.text {
			padding-block: 7rem;
		}
		span {
			height: 9rem;
			width: 1px;
			background-color: variables.$dark;
		}
	}
	#more_details {
		text-align: center;
		display: flex;
		justify-content: space-around;
		padding-block-start: 5rem;
		#top3 {
			.top3_content {
				display: flex;
				justify-content: space-around;
			}
			figure {
				text-align: center;
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin: 0.5rem;

				width: 7rem;
				height: 7rem;
				border: 1px solid green;
				border-radius: 50%;
			}
			img {
				height: 4rem;
				width: auto;
			}
		}
		#more {
			text-align: center;
		}
	}
}

#section3 {
	display: flex;
	flex-direction: column;
	h2 {
		text-align: center;
	}
	#web_host {
		margin-block-end: 10rem;
	}
	#reduce {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin-block-end: 10rem;
		border-block: 1px solid variables.$dark;
		padding-block: 5rem;
	}
	#result p {
		text-align: center;
	}
}
