@use "../abstracts/variables";
@use "../base/typography";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: variables.$primary-color;
}

h1,
h2,
h3,
h4,
h5,
p {
}

ul {
	list-style: none;
}

.hidden {
	display: none;
}
