@use "../abstracts/variables";
@use "../base/typography";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	display: grid;
	grid-template-columns: minmax(0.5rem, 1fr) minmax(auto, 1200px) minmax(0.5rem, 1fr);
}
main > * {
	grid-column: 2;
}

body {
	background-color: variables.$primary-color;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: typography.$display-font;
	color: variables.$dark;
}
p,
span,
input,
label,
select {
	font-family: typography.$paragraph-font;
	color: variables.$dark;
}
h1 {
	font-size: 3.5rem;
}
h2 {
	font-size: 2.5rem;
}
h3 {
	font-size: 2rem;
}

p {
	font-size: 1.1rem;
}
#emission_text {
	font-size: 1.5rem;
}

ul {
	list-style: none;
}

#section2.hidden,
#section3.hidden {
	display: none;
}
