@use "../abstracts/variables";
@use "../base/typography";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	display: grid;
	grid-template-columns: minmax(0.5rem, 1fr) minmax(auto, 1200px) minmax(0.5rem, 1fr);
}
main > * {
	grid-column: 2;
}

body {
	background-color: variables.$primary-color;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
input,
label,
select {
	font-family: typography.$display-font;
}
h1 {
	font-size: 3.5rem;
}

ul {
	list-style: none;
}

.hidden {
	display: none;
}
